# Environment files
.env

# Virtual environment
venv/
venv*/ 

# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Cache inside folders
data/__pycache__/

# OS-level junk
.DS_Store
Thumbs.db

# Logs
*.log

# IDE specific files
.vscode/
.idea/

# Byte-compiled / package stuff
*.egg-info/
dist/
build/

# Temporary files
*.tmp
*.bak
